html, body{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: beige;
	/* font-family: fantasy; */
}

.navigation{
	text-align: center;
	height: 33px;
	margin-top: 11px;
}

#giveup-status{
    padding: 5px 10px;
	font-size: 17px;
	cursor: pointer;
}

.game-area {
    margin-top: 5px;
}

.letter-row, .letter-block {
    display: flex;
	justify-content: center;
	margin: 5px;
}

.letter-block {
    font-size: 40px;
	border: 1px solid;
	width: 56px;
	height: 51px;
	border-radius: 12px;
}
img{
	display: block;
	width: 10%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
}
#notification{
	text-align: center;
	font-size: 30px;
}
#keyboard {
    text-align:center;
	margin-top: 5px;
}

#top-keys, #mid-keys, #bottom-keys{
    display: flex;
	justify-content:center;
}

.keyboard-keys{
	background-color: #c5c5c5;
	font-size: 30px;
	height: 32px;
	padding: 5px 0;
	margin: 2.5px;
	display: flex;
	justify-content: center;
	font-family: arial;
	cursor: pointer;
}

.keyboard-keys-top, .keyboard-keys-mid, .keyboard-keys-bottom {
    background-color: #c5c5c5;
	font-size: 30px;
	height: 32px;
	padding: 5px 0;
	margin: 2.5px;
	display: flex;
	justify-content: center;
	font-family: arial;
	cursor: pointer;
}

.keyboard-keys-top {
    width: 52px;
}

.keyboard-keys-mid {
    width: 58px;
}

.keyboard-keys-bottom {
    width: 80px;
}